*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.taskbar{
    display: flex;
    align-items:center;
    /* justify-content: center; */ 
    justify-content: space-between;
    border :2px solid black;
}
.taskbar__left{
    display: flex;
    align-items: center;
    justify-content:end;
}
.logo{
    display: flex;
    justify-content: end;
   

}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    /* justify-content: center; */
}
.menu_contain{
 list-style: none;
}

.menu_contain a{
    color: gray;
    font-weight: bold;
}